<header class="l-header u-z-index100">
  <div class="l-header__inner">
    <div class="l-header__navBtn c-navBtn js-nav__btn u-z-index100">
      <% for(var i = 0; i<3; i++) {%>
      <span class="l-header__bar c-navBtn__bar"></span>
      <% } %>
    </div>
    <!-- /.c-navBtn -->
    <h1 class="c-logo">
      <a href="#" class="c-logo__link">
        <svg class="c-logo__img" width="170" height="34" viewBox="0 0 170 34" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="l-header__path c-logo__path" alt="メインロゴ" d="M0.902191 5.25H9.69125C11.1444 5.25 12.5038 5.42969 13.7694 5.78906C15.035 6.13281 16.1366 6.64062 17.0741 7.3125C18.0116 7.98438 18.7459 8.8125 19.2772 9.79688C19.8241 10.7812 20.0975 11.9062 20.0975 13.1719C20.0975 14.4375 19.8319 15.5391 19.3006 16.4766C18.785 17.4141 18.0975 18.1875 17.2381 18.7969C16.3788 19.4062 15.4022 19.8672 14.3084 20.1797C13.2303 20.4766 12.1209 20.625 10.9803 20.625C10.4959 20.625 9.98813 20.6172 9.45688 20.6016C8.92563 20.5703 8.41 20.5312 7.91 20.4844C7.42563 20.4375 6.9725 20.3906 6.55063 20.3438C6.14438 20.2812 5.81625 20.2188 5.56625 20.1562V33H0.902191V5.25ZM5.56625 18.5859C6.08188 18.7266 6.63657 18.8672 7.23032 19.0078C7.83969 19.1484 8.45688 19.2188 9.08188 19.2188C10.0819 19.2188 10.9569 19.0703 11.7069 18.7734C12.4725 18.4609 13.0975 18.0469 13.5819 17.5312C14.0819 17.0156 14.4569 16.4062 14.7069 15.7031C14.9569 15 15.0819 14.25 15.0819 13.4531C15.0819 12.5156 14.9178 11.6719 14.5897 10.9219C14.2772 10.1562 13.8397 9.50781 13.2772 8.97656C12.7147 8.44531 12.0506 8.03906 11.285 7.75781C10.535 7.46094 9.73032 7.3125 8.87094 7.3125H5.56625V18.5859ZM34.5809 33.4688C32.9403 33.4688 31.4247 33.1875 30.0341 32.625C28.6591 32.0469 27.4638 31.2656 26.4481 30.2812C25.4481 29.2812 24.6669 28.125 24.1044 26.8125C23.5419 25.4844 23.2606 24.0703 23.2606 22.5703C23.2606 20.9922 23.5419 19.5156 24.1044 18.1406C24.6669 16.75 25.4481 15.5391 26.4481 14.5078C27.4638 13.4766 28.6591 12.6641 30.0341 12.0703C31.4247 11.4609 32.9403 11.1562 34.5809 11.1562C36.2059 11.1562 37.7059 11.4297 39.0809 11.9766C40.4716 12.5234 41.6669 13.2734 42.6669 14.2266C43.6825 15.1797 44.4716 16.2969 45.0341 17.5781C45.5966 18.8438 45.8778 20.2109 45.8778 21.6797C45.8778 23.3047 45.5966 24.8359 45.0341 26.2734C44.4716 27.6953 43.6825 28.9375 42.6669 30C41.6669 31.0625 40.4716 31.9062 39.0809 32.5312C37.7059 33.1562 36.2059 33.4688 34.5809 33.4688ZM35.3778 31.875C36.2216 31.875 36.9872 31.6641 37.6747 31.2422C38.3778 30.8047 38.9794 30.2266 39.4794 29.5078C39.995 28.7734 40.3934 27.9297 40.6747 26.9766C40.9559 26.0078 41.0966 24.9844 41.0966 23.9062C41.0966 22.3594 40.9638 20.9062 40.6981 19.5469C40.4325 18.1875 40.0028 17.0078 39.4091 16.0078C38.8153 14.9922 38.0341 14.1953 37.0653 13.6172C36.1122 13.0391 34.9403 12.75 33.5497 12.75C32.8309 12.75 32.1356 12.9609 31.4638 13.3828C30.8075 13.7891 30.2216 14.3516 29.7059 15.0703C29.1903 15.7891 28.7763 16.625 28.4638 17.5781C28.1669 18.5312 28.0184 19.5469 28.0184 20.625C28.0184 22.1875 28.1825 23.6562 28.5106 25.0312C28.8388 26.3906 29.3153 27.5781 29.9403 28.5938C30.5809 29.6094 31.3544 30.4141 32.2606 31.0078C33.1825 31.5859 34.2216 31.875 35.3778 31.875ZM50.9394 11.6016H55.1581V15.6562C55.58 15.0469 56.0253 14.4766 56.4941 13.9453C56.9784 13.3984 57.4784 12.9219 57.9941 12.5156C58.5097 12.0938 59.0409 11.7656 59.5878 11.5312C60.1503 11.2812 60.7128 11.1562 61.2753 11.1562C61.7441 11.1562 62.1738 11.2266 62.5644 11.3672C62.9706 11.5078 63.3222 11.6953 63.6191 11.9297C63.9159 12.1641 64.1503 12.4375 64.3222 12.75C64.4941 13.0625 64.58 13.3906 64.58 13.7344C64.58 14.4375 64.3613 14.9609 63.9238 15.3047C63.5019 15.6484 62.9081 15.8203 62.1425 15.8203C61.6738 15.8203 61.2909 15.7734 60.9941 15.6797C60.7128 15.5703 60.455 15.4609 60.2206 15.3516C59.9863 15.2266 59.7519 15.1172 59.5175 15.0234C59.2831 14.9141 58.9784 14.8594 58.6034 14.8594C58.0409 14.8594 57.4706 15.1719 56.8925 15.7969C56.33 16.4219 55.7519 17.2188 55.1581 18.1875V33H50.9394V11.6016ZM79.6963 30.2812C79.1338 31.2656 78.3759 32.0469 77.4228 32.625C76.4853 33.1875 75.3291 33.4688 73.9541 33.4688C73.2353 33.4688 72.6103 33.3438 72.0791 33.0938C71.5478 32.8594 71.1103 32.5234 70.7666 32.0859C70.4228 31.6484 70.165 31.125 69.9931 30.5156C69.8369 29.9062 69.7588 29.2266 69.7588 28.4766V13.4062H66.0556V12.3516C67.2431 12.3516 68.2197 12.1406 68.9853 11.7188C69.7666 11.2812 70.3994 10.6953 70.8838 9.96094C71.3838 9.21094 71.7744 8.35156 72.0556 7.38281C72.3369 6.39844 72.5791 5.36719 72.7822 4.28906H74.0009V11.6016H78.8056V13.4062H74.0009V28.4766C74.0009 29.1172 74.2197 29.6641 74.6572 30.1172C75.1103 30.5547 75.665 30.7734 76.3213 30.7734C76.8056 30.7734 77.2431 30.6562 77.6338 30.4219C78.0244 30.1875 78.3603 29.8984 78.6416 29.5547L79.6963 30.2812ZM95.8203 11.6016V13.4062H90.1016V33H85.8359V13.4062H81.3359V11.6016H85.8359V9.09375C85.8359 7.92188 86.0391 6.82812 86.4453 5.8125C86.8672 4.78125 87.4375 3.88281 88.1562 3.11719C88.875 2.35156 89.7188 1.75 90.6875 1.3125C91.6562 0.875 92.6953 0.65625 93.8047 0.65625C94.7422 0.65625 95.5781 0.75 96.3125 0.9375C97.0625 1.125 97.6875 1.38281 98.1875 1.71094C98.6875 2.03906 99.0703 2.42187 99.3359 2.85938C99.6016 3.29688 99.7344 3.77344 99.7344 4.28906C99.7344 4.92969 99.5156 5.42969 99.0781 5.78906C98.6406 6.13281 98.1328 6.30469 97.5547 6.30469C97.0234 6.30469 96.625 6.20313 96.3594 6C96.0938 5.79687 95.8828 5.54688 95.7266 5.25C95.5859 4.95312 95.4688 4.625 95.375 4.26562C95.2969 3.90625 95.1719 3.57813 95 3.28125C94.8438 2.98437 94.6172 2.73438 94.3203 2.53125C94.0234 2.32812 93.5938 2.22656 93.0312 2.22656C92.6094 2.22656 92.2188 2.35156 91.8594 2.60156C91.5 2.83594 91.1875 3.15625 90.9219 3.5625C90.6719 3.95313 90.4688 4.40625 90.3125 4.92188C90.1719 5.4375 90.1016 5.96875 90.1016 6.51562V11.6016H95.8203ZM110.702 33.4688C109.062 33.4688 107.546 33.1875 106.155 32.625C104.78 32.0469 103.585 31.2656 102.569 30.2812C101.569 29.2812 100.788 28.125 100.226 26.8125C99.6631 25.4844 99.3819 24.0703 99.3819 22.5703C99.3819 20.9922 99.6631 19.5156 100.226 18.1406C100.788 16.75 101.569 15.5391 102.569 14.5078C103.585 13.4766 104.78 12.6641 106.155 12.0703C107.546 11.4609 109.062 11.1562 110.702 11.1562C112.327 11.1562 113.827 11.4297 115.202 11.9766C116.593 12.5234 117.788 13.2734 118.788 14.2266C119.804 15.1797 120.593 16.2969 121.155 17.5781C121.718 18.8438 121.999 20.2109 121.999 21.6797C121.999 23.3047 121.718 24.8359 121.155 26.2734C120.593 27.6953 119.804 28.9375 118.788 30C117.788 31.0625 116.593 31.9062 115.202 32.5312C113.827 33.1562 112.327 33.4688 110.702 33.4688ZM111.499 31.875C112.343 31.875 113.108 31.6641 113.796 31.2422C114.499 30.8047 115.101 30.2266 115.601 29.5078C116.116 28.7734 116.515 27.9297 116.796 26.9766C117.077 26.0078 117.218 24.9844 117.218 23.9062C117.218 22.3594 117.085 20.9062 116.819 19.5469C116.554 18.1875 116.124 17.0078 115.53 16.0078C114.937 14.9922 114.155 14.1953 113.187 13.6172C112.233 13.0391 111.062 12.75 109.671 12.75C108.952 12.75 108.257 12.9609 107.585 13.3828C106.929 13.7891 106.343 14.3516 105.827 15.0703C105.312 15.7891 104.898 16.625 104.585 17.5781C104.288 18.5312 104.14 19.5469 104.14 20.625C104.14 22.1875 104.304 23.6562 104.632 25.0312C104.96 26.3906 105.437 27.5781 106.062 28.5938C106.702 29.6094 107.476 30.4141 108.382 31.0078C109.304 31.5859 110.343 31.875 111.499 31.875ZM131.514 33H127.272V1.85156L130.295 0.65625H131.514V33ZM139.95 0.65625C140.278 0.65625 140.591 0.710937 140.888 0.820312C141.2 0.929688 141.466 1.08594 141.685 1.28906C141.903 1.47656 142.075 1.70313 142.2 1.96875C142.341 2.21875 142.411 2.49219 142.411 2.78906C142.411 3.07031 142.341 3.34375 142.2 3.60938C142.075 3.85938 141.903 4.08594 141.685 4.28906C141.466 4.47656 141.2 4.63281 140.888 4.75781C140.591 4.86719 140.278 4.92188 139.95 4.92188C139.622 4.92188 139.31 4.86719 139.013 4.75781C138.716 4.63281 138.458 4.47656 138.239 4.28906C138.021 4.08594 137.841 3.85938 137.7 3.60938C137.575 3.34375 137.513 3.07031 137.513 2.78906C137.513 2.49219 137.575 2.21875 137.7 1.96875C137.841 1.70313 138.021 1.47656 138.239 1.28906C138.458 1.08594 138.716 0.929688 139.013 0.820312C139.31 0.710937 139.622 0.65625 139.95 0.65625ZM137.888 12.375L140.864 11.1562H142.107V33H137.888V12.375ZM158.676 33.4688C157.035 33.4688 155.52 33.1875 154.129 32.625C152.754 32.0469 151.559 31.2656 150.543 30.2812C149.543 29.2812 148.762 28.125 148.199 26.8125C147.637 25.4844 147.356 24.0703 147.356 22.5703C147.356 20.9922 147.637 19.5156 148.199 18.1406C148.762 16.75 149.543 15.5391 150.543 14.5078C151.559 13.4766 152.754 12.6641 154.129 12.0703C155.52 11.4609 157.035 11.1562 158.676 11.1562C160.301 11.1562 161.801 11.4297 163.176 11.9766C164.567 12.5234 165.762 13.2734 166.762 14.2266C167.777 15.1797 168.567 16.2969 169.129 17.5781C169.692 18.8438 169.973 20.2109 169.973 21.6797C169.973 23.3047 169.692 24.8359 169.129 26.2734C168.567 27.6953 167.777 28.9375 166.762 30C165.762 31.0625 164.567 31.9062 163.176 32.5312C161.801 33.1562 160.301 33.4688 158.676 33.4688ZM159.473 31.875C160.317 31.875 161.082 31.6641 161.77 31.2422C162.473 30.8047 163.074 30.2266 163.574 29.5078C164.09 28.7734 164.488 27.9297 164.77 26.9766C165.051 26.0078 165.192 24.9844 165.192 23.9062C165.192 22.3594 165.059 20.9062 164.793 19.5469C164.527 18.1875 164.098 17.0078 163.504 16.0078C162.91 14.9922 162.129 14.1953 161.16 13.6172C160.207 13.0391 159.035 12.75 157.645 12.75C156.926 12.75 156.231 12.9609 155.559 13.3828C154.902 13.7891 154.317 14.3516 153.801 15.0703C153.285 15.7891 152.871 16.625 152.559 17.5781C152.262 18.5312 152.113 19.5469 152.113 20.625C152.113 22.1875 152.277 23.6562 152.606 25.0312C152.934 26.3906 153.41 27.5781 154.035 28.5938C154.676 29.6094 155.449 30.4141 156.356 31.0078C157.277 31.5859 158.317 31.875 159.473 31.875Z" fill="white"/>
        </svg>
      </a>
    </h1>
    <nav class="c-headerNav js-nav__open u-z-index10">
      <!-- <div class=" c-headerNav__wrapper"> -->
        <ul class="c-headerNav__list js-menuTxt">
          <% const navText = [
            {text:"home"},
            {text:"online menu"},
            {text:"shop"},
            {text:"journal"},
          ]; %>
          <% for(var i = 0; i < navText.length; i++) {%>
          <li class="c-headerNav__item">
            <a href="#" class="l-header__navLink c-headerNav__link"><%= navText[i].text %></a>
          </li>
          <% } %>
        </ul>
        <ul class="c-headerNav__listSub u-flex-grow js-menuTxt">
          <% const navSub = [
            {text:"FAQ/よくある質問"},
            {text:"お問い合わせ"},
            {text:"特定商取引法に基づく表記"},
            {text:"配送・返金ポリシー"},
            {text:"プライバシーポリシー"},
            {text:"アカウント"},
          ]; %>
          <% for(var i = 0; i < navSub.length; i++) {%>
          <li class="c-headerNav__itemSub">
            <a href="#" class="c-headerNav__linkSub"><%= navSub[i].text %></a>
          </li>
          <% } %>
        </ul>
        <div class="p-header__navIcon c-img js-navIcon">
          <a href="#" class="c-img__link" target="_blank">
            <img src="<%= path %>icon/facebook_icon.png" alt="facebook" class="p-header__facebook c-img__facebook">
          </a>
          <a href="#" class="c-img__link" target="_blank">
            <svg  alt="instagram" class="p-header__insta c-img__insta" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="#fff" stroke="#fff">
              <path class="c-img__path" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
            </svg>
          </a>
        </div>
        <!-- /.c-img -->
      <!-- </div> -->
      <!-- /.c-headerNav__wrapper -->
    </nav>
    <div class="l-header__icon c-headerIcon">
      <a href="#" class="c-headerIcon__link">
        <img src="<%= path %>icon/man_black.png" alt="アカウント" class="c-headerIcon__account">
      </a>
      <a href="#" class="c-headerIcon__link">
        <img src="<%= path %>icon/bag_black.png" alt="カート" class="c-headerIcon__cart">
      </a>
    </div>
    <!-- /.c-headerIcon -->

  </div>
  <!-- /.l-header__inner -->
</header>