<% var title = "Portfolio"; var description = "このサイトはポートフォリオサイトです。"; %>

<!-- 画像相対パス -->
<% const path = ["./assets/images/"]%>

<% include src/ejs/template/_head %>

<% include src/ejs/template/_header %>

<main class="l-main">

<div class="js-blackOut"></div>

<!-- <div class="p-topSlider">
  <img src="<%= path %>symbol_white.svg" alt="メインロゴ" class="p-topSlider__symbol u-z-index1">
  <ul class="p-topSlider__list">
    <% const slide = [
      {current: "is-current"},
      {current: ""},
      {current: ""}
    ]; %>
    <% for(var i = 0; i < slide.length; i++) { %>
      <li class="p-topSlider__item js-slider <%= slide[i].current %>"></li>
    <% } %>
  </ul>
</div> -->
<!-- /.p-topSlider -->

<div class="p-topSlider">
  <img src="<%= path %>symbol_white.svg" alt="メインロゴ" class="p-topSlider__symbol u-z-index10">
  <div class="swiper-container">
    <ul class="p-topSlider__list swiper-wrapper">
      <% const slide2 = [
        {current: "is-current"},
        {current: ""},
        {current: ""}
      ]; %>
      <% for(var i = 0; i < slide.length; i++) { %>
        <li class="p-topSlider__item js-slider swiper-slide"></li>
      <% } %>
    </ul>
  </div>
  <!-- /.swiper-container -->
</div>
<!-- /.p-topSlider -->



<div class="p-intro c-secFrame">
  <div class="p-intro__inner">
    <div class="p-intro__video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/NvNvvK66d-g?start=12" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <!-- /.p-intro__video -->
    <div class="p-intro__txt js-fadeIn">
      <h2 class="p-intro__ttl">サイクリングで心と体をもっと健康に</h2>
      <h3 class="p-intro__desc">「最高にかっこいい自転車を楽しんでほしい」<br>サイクリングは日々のストレスを解消し、<br>心身を健康へと導いてくれます。</h3>
      <a href="#" class="p-intro__more">read more</a>
    </div>
    <!-- /.p-intro__txt -->
  </div>
  <!-- /.p-intro__inner -->
</div>
<!-- /.p-intro -->

<div class="p-item c-secFrame">
  <div class="p-item__inner">
    <h2 class="p-item__ttl c-ttl">item</h2>
    <ul class="p-item__list">
      <% const item = [
      {src: "cycle_s9.jpg", name: "かっこいいロードバイク",},
      {src: "cycle_s1.jpg", name: "おしゃれなロードバイク",}
      ]; %>
      <% for(var i = 0; i < item.length; i++) { %>
      <li class="p-item__item">
        <a href="#" class="p-item__link">
          <img src="<%= path %>cycle/<%= item[i].src %>" alt="<%= item[i].name %>" class="p-item__img">
        </a>
        <div class="p-item__txt">
          <h2 class="p-item__name"><a href="#" class="p-item__link"><%= item[i].name %></a></h2>
          <a href="#" class="p-item__desc">詳細を見る</a>
        </div>
        <!-- /.p-item__txt -->
      </li>
      <% } %>
    </ul>
  </div>
  <!-- /.p-item__inner -->
</div>
<!-- /.p-item -->

<div class="p-about">
  <div class="p-about__inner">
    <h2 class="p-about__ttl c-ttl u-z-index1">about us</h2>
    <div class="p-about__top">
      <img src="<%= path %>cycle/cycle_m4.jpg" alt="自転車" class="p-about__topImg js-slideIn">
      <div class="p-about__topTxt">
        <h3 class="p-about__topTtl">サイクリングで季節を感じよう</h3>
        <p class="p-about__topDesc">
          サイクリングをすることで風を感じ、季節を感じよう。
          いつからでもサイクリングは始められる。
        </p>
      </div>
      <!-- /.p-about__topTxt -->
    </div>
    <!-- /.p-about__top -->
    <div class="p-about__main">
      <ul class="p-about__list">
        <% const imgUpper  = [
        {src: "cycle_m4.jpg"},
        {src: "cycle_s1.jpg"},
        {src: "cycle_m5.jpg"}
        ]; %>
        <% for(var i = 0; i < imgUpper.length; i++) { %>
        <li class="p-about__item js-fadeIn">
          <img src="<%= path %>cycle/<%= imgUpper[i].src %>" alt="自転車" class="p-about__img">
        </li>
        <% } %>
      </ul>
      <div class="p-about__mainTxt">
        <h3 class="p-about__mainTtl">私が自転車にこだわる理由</h3>
        <p class="p-about__mainDesc">
          自転車の動力源は自分の脚力のみ。<br>
          地球にやさしく、心身の健康維持に最適。
        </p>
      </div>
      <!-- /.p-about__txt -->
      <ul class="p-about__list">
        <% const imgBottom  = [
        {src: "cycle_m7.jpg"},
        {src: "cycle_s2.jpg"},
        {src: "cycle_m9.jpg"}
        ]; %>
        <% for(var i = 0; i < imgBottom.length; i++) { %>
        <li class="p-about__item-bottom js-fadeIn">
          <img src="<%= path %>cycle/<%= imgBottom[i].src %>" alt="自転車" class="p-about__img">
        </li>
        <% } %>
      </ul>
    </div>
    <!-- /.p-about__main -->
  </div>
  <!-- /.p-about__inner -->
</div>
<!-- /.p-about -->

<div class="p-news c-secFrame">
  <div class="p-news__inner">
    <h3 class="p-news__ttlSub">お知らせ</h3>
    <h2 class="p-news__ttl c-ttl__common">news</h2>
    <ul class="p-news__list">
      <% const news = [
      {src: "cycle_m1.jpg", ttl:"新しいお知らせです"},
      {src: "cycle_m4.jpg", ttl:"お知らせです"},
      {src: "cycle_m5.jpg", ttl:"新しいNewsです"},
      {src: "cycle_m7.jpg", ttl:"新しい自転車です"},
      {src: "cycle_m8.jpg", ttl:"新しいロードバイクです"},
      {src: "cycle_m9.jpg", ttl:"新しいドロップハンドルに変更しました"},
      ]; %>
      <% for(var i = 0; i < news.length; i++) { %>
      <li class="p-news__item">
        <a href="#" class="p-news__imgLink">
          <img src="<%= path %>cycle/<%= news[i].src %>" alt="自転車" class="p-news__img">
        </a>
        <a href="#" class="p-news__ttlLink">
          <h2 class="p-news__itemTtl"><%= news[i].ttl %></h2>
        </a>
        <a href="#" class="p-news__more">more</a>
      </li>
      <% } %>
    </ul>
    <a href="#" class="p-news__all">View all</a>
  </div>
  <!-- /.p-news__inner -->
</div>
<!-- /.p-news -->

<div class="p-insta c-secFrame">
  <h2 class="p-insta__ttl c-ttl__common">instagram</h2>
  <ul class="p-insta__list">
    <% const insta = [
    {src: "cycle_s1.jpg", },
    {src: "cycle_s2.jpg", },
    {src: "cycle_s3.jpg", },
    {src: "cycle_s4.jpg", },
    {src: "cycle_s5.jpg", },
    {src: "cycle_s6.jpg", },
    {src: "cycle_s7.jpg", },
    {src: "cycle_s8.jpg", },
    {src: "cycle_s9.jpg", },
    ]; %>
    <% for(var i = 0; i < insta.length; i++) { %>
    <li class="p-insta__item">
      <a href="#" class="p-insta__link">
        <div class="p-insta__mask"></div>
        <img src="<%= path %>icon/instagram_icon.svg" alt="instagram" class="p-insta__icon">
        <img src="<%= path %>cycle/<%= insta[i].src %> " alt="自転車" class="p-insta__img">
      </a>
    </li>
    <% } %>
  </ul>
</div>
<!-- /.p-insta -->

<div class="p-bicycle">
  <div class="p-bicycle__inner">
    <h2 class="p-bicycle__ttl c-ttl">bicycle</h2>
    <ul class="p-bicycle__tabs">
      <% const bicycle  = [
      {color: "beige", class: "is-tabActive"},
      {color: "blue", class: ""},
      {color: "black", class: ""}
      ]; %>
      <% for(var i = 0; i < bicycle.length; i++) { %>
        <li class="p-bicycle__tab js-tab <%= bicycle[i].class %> "><%= bicycle[i].color %></li>
      <% } %>
    </ul>
    <ul class="p-bicycle__contents">
      <% const cont = [
        {src: "cycle_s1.jpg", active: "", tabTxt: "is-fadeIn", tabImg: "is-slideIn__tab", tabTxt2: "is-fadeIn-delay", ttl: "beige bicycle", desc: "一見するとオシャレな普通の自転車。", desc2: "よく見ると竹でできている。"},
        {src: "cycle_s8.jpg", active: "is-tabHidden", ttl: "blue bicycle", desc: "オシャレな青色の自転車。", desc2: "扉と相まってかっこよさが引き立つ。"},
        {src: "cycle_s5.jpg", active: "is-tabHidden", ttl: "black bicycle", desc: "誰が見てもオシャレな自転車。", desc2: "カゴがついているので実用性も抜群。"},
        ]; %>
      <% for(var i = 0; i < cont.length; i++) { %>
      <li class="p-bicycle__content js-tabCont <%= cont[i].active %>">
        <img src="<%= path %>cycle/<%= cont[i].src %>" alt="自転車" class="p-bicycle__img js-tabImg <%= cont[i].tabImg %>">
        <div class="p-bicycle__txt">
          <h2 class="p-bicycle__contTtl js-tabTxt <%= cont[i].tabTxt %>"><%= cont[i].ttl %></h2>
          <p class="p-bicycle__desc js-tabTxt-delay <%= cont[i].tabTxt2 %>"><%= cont[i].desc %><br><%= cont[i].desc2 %></p>
        </div>
        <!-- /.p-bicycle__text -->
      </li>
      <% } %>
    </ul>
  </div>
  <!-- /.p-bicycle__inner -->
</div>
<!-- /.p-bicycle -->
</main>

<% include src/ejs/template/_footer %>